
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  gap: 16px; 
  padding: 16px;
}

.grid > div {
  padding: 20px;
  text-align: center;
  color: white;
  font-family: sans-serif;
  border-radius: 5px;
  height: 13vh;
}

.col-12 { 
  grid-column: span 12; 
}
.col-8 {
  grid-column: span 8;
}
.col-6 {
  grid-column: span 6;
}
.col-4 {
  grid-column: span 4;
}
.col-3 { grid-column: span 3; }

.blue { background-color: #0022f5; }
.green { background-color: #35e484; }
.red { background-color: #c91818; }
.magenta { background-color: #e20fa2; }
.yellow { background-color: #f7f72d; color: black; }


/*Completar*/

/* Para tablet */
@media screen and (max-width: 768px) {
  .blue {
    grid-column: span 4;
  }

  .green{
    grid-column: span 12;
  }

  .red{
    grid-column: span 2;
  }

  .magenta{
    grid-column: span 7;
  }

  .yellow{
    grid-column: span 3;
  }

}

/* Para Movil */
@media screen and (max-width: 425px){
  .grid *{
    grid-column: span 12;
  }

}